.container6{
    height: 100px;
    background-color: #5F5F62;
    display: flex;
}

.footer{
    width: 84%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer p{
    font-size: 18px;
    color: white;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.media-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.media-icons img{
    width: 40px;
}

@media (max-width: 1018px){
    .media-icons img{
         width: 30px;
    }
    .footer p{
        font-size: 16px;
    }

}